@import "tailwindcss";

@variant dark (.dark &);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light theme */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(to bottom, #f8fafc, #faf5ff);
  background-attachment: fixed;
  color: #1f2937;
}

/* Dark theme */
html.dark, body.dark {
  background: linear-gradient(to bottom, rgba(6,19,45,1), #1A0F2E);
  background-attachment: fixed;
  color: white;
}